.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0;
    background-color: #0000FF;
}

.nav-tabs>li>a {
    padding: 10px 30px;
}

.nav-tabs>li.active {
    border-bottom: 3px solid blue !important;
}

.c_breadcrumb {
    background: #ddd;
    padding-right: 15px;
    -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
    font-size: 18px;
    padding: 20px;
}

.c_breadcrumb li {
    display: inline-block;
    min-width: 50px;
    background: white;
    text-decoration: none;
    -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
    position: relative;
    margin-right: -13px;
}

.c_breadcrumb li#last {
    -webkit-clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
    clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
}

.c_breadcrumb li:hover {
    color: white;
    background: #fff;
}

.c_breadcrumb li:first-child {
    -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
}

.nav-tabs>li>a.nav-link.active,
.nav-tabs>li>a.nav-link.active>.panel-body,
.nav-tabs>li>a.nav-link.active:hover,
.nav-tabs>li>a.nav-link.active:focus {
    background-color: #66757b;
    color: #fff;
}